body {
	background: url(../images/gif_season.gif) no-repeat center center fixed;
	background-size: cover;
}

.btn {
	margin: 5px;
}

#buttonHolder {
	margin-bottom: 30px;
}

#giphyHolder {
	color: #fff;
}

#actor-input {
	width: 100%;
}

#addActor {
	margin-top: 10px;
}

.gif {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}